@font-face {
    font-family: 'woodland-bold';
    src: url('ppwoodland-bold-webfont.woff2') format('woff2'),
         url('ppwoodland-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'woodland-heavy';
    src: url('ppwoodland-heavy-webfont.woff2') format('woff2'),
         url('ppwoodland-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'woodland-regular';
    src: url('ppwoodland-regular-webfont.woff2') format('woff2'),
         url('ppwoodland-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'woodland-ultralight';
    src: url('ppwoodland-ultralight-webfont.woff2') format('woff2'),
         url('ppwoodland-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neue-montreal-bold';
    src: url('neuemontreal-bold-webfont.woff2') format('woff2'),
         url('neuemontreal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neue-montreal-italic';
    src: url('neuemontreal-italic-webfont.woff2') format('woff2'),
         url('neuemontreal-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neue-montreal-regular';
    src: url('neuemontreal-regular-webfont.woff2') format('woff2'),
         url('neuemontreal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neue-montreal-light';
    src: url('neuemontreal-light-webfont.woff2') format('woff2'),
         url('neuemontreal-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}